/* utility classes */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}

body {
  color: white;
  background-color: black;
  padding: 8px 10px;
}

body::-webkit-scrollbar {
  display: none;
}

.pointer {
  cursor: pointer;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}

.flex-row-bet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}

.flex-col-bet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

/* left section  */
.left {
  width: 27.5%;
  justify-content: space-between;
  position: fixed;
}

/* home  */
.home_main {
  background-color: rgb(18, 18, 18);
  width: 100%;
  border-radius: 7px;
  padding: 12px 8px;
}

.left_lib {
  background-color: rgb(18, 18, 18);
  width: 100%;
  margin-top: 8px;
  border-radius: 7px;
}

.home_icon > *,
.home_search > * {
  margin: 2px 10px;
  font-size: 1.15em;
  cursor: pointer;
}

.home_icon,
.home_search {
  margin: 10px 0px;
  width: 96%;
  justify-content: left;
  color: white;
}

/* library  */

/* main_lib  */

.left_main_lib {
  width: 90%;
  margin-left: 5%;
  justify-content: space-between;
}

.left_main_lib > div {
  padding: 10px 0px;
}

.main_lib_left {
  width: 33%;
  justify-content: space-between;
  font-size: 1.1rem;
  color: rgb(167, 167, 167);
}

.main_lib_left span {
  font-weight: bold;
  cursor: pointer;
}

.main_lib_left:hover {
  color: white;
}

.main_lib_right {
  justify-content: space-between;
  font-size: 1.1rem;
  width: 20%;
  color: rgb(167, 167, 167);
  flex-wrap: wrap;
}

.main_lib_right i {
  padding: 8px;
  cursor: pointer;
}

.main_lib_right i:hover {
  background-color: rgb(35, 35, 35);
  border-radius: 50%;
  color: white;
}

/* playlist  */

.left_playlist {
  width: 96%;
  margin-left: 2%;
  margin-top: 5px;
}

.play_but {
  background-color: rgb(35, 35, 35);
  border-radius: 20px;
  padding: 7px 10px;
  font-weight: bold;
  cursor: pointer;
}

.play_but:hover {
  background-color: rgb(48, 48, 48);
}

/* recents  */

.left_recents {
  width: 90%;
  justify-content: space-between;
  height: 64px;
}

.recent_search input {
  background-color: rgb(35, 35, 35);
  border: none;
  color: rgb(184, 184, 184);
  padding: 3px;
}

.recent_search i {
  padding: 8px;
  color: rgb(184, 184, 184);
  cursor: pointer;
}

.recent_search i:hover {
  background-color: rgb(35, 35, 35);
  border-radius: 50%;
  color: white;
}

.left_recents select {
  background-color: rgb(18, 18, 18);
  color: rgb(184, 184, 184);
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.left_recents select:hover {
  color: white;
}

.left_recents option {
  background-color: rgb(40, 40, 40);
  color: white;
  font-weight: bold;
}

/* left albums  */

.left_albums {
  overflow-y: auto;
  height: 418px;
  margin-top: 15px;
  justify-content: start;
}

.left_albums::-webkit-scrollbar {
  display: none;
}

.left_sub_alb {
  width: 96%;
  height: 64px;
  justify-content: start;
  padding: 5px 7px;
  border-radius: 5px;
  margin: 0px 2%;
  cursor: pointer;
}

.left_sub_alb:hover {
  background-color: #1c1c1c;
}

.left_sub_alb > div {
  display: inline-block;
}

.left_albums_img {
  height: 88%;
  margin-right: 10px;
  align-items: center;
}

.left_albums_img img {
  height: 100%;
  border-radius: 3px;
}

.alb_name {
  font-size: 1.1em;
  font-weight: bold;
}

.sub_alb {
  font-size: 1em;
  font-weight: normal;
  color: rgb(162, 162, 162);
}

/* footer navbar  */

footer {
  background-color: black;
  width: 100vw;
  height: 80px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 0px 15px;
  justify-content: space-between;
  z-index: 5;
}

.footer_song,
.footer_play,
.footer_vol {
  height: 80%;
  /* background-color: black; */
  padding: 0px 3px;
}

/* footer song  */

.footer_song_img {
  height: 86%;
}

.footer_song_img img {
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.footer_song_name {
  margin-left: 20px;
  align-items: start;
  height: 40px;
}

.footer_song_name p,
.footer_song_name span {
  cursor: pointer;
}

.footer_song_name p:hover {
  text-decoration: underline;
}

.footer_song_name_a {
  color: rgb(152, 152, 152);
  font-size: 0.87em;
}

.footer_song_name span:hover {
  color: white;
  text-decoration: underline;
}

.footer_song_like {
  color: rgb(152, 152, 152);
  padding: 10px;
  width: 70px;
  margin-left: 10px;
}

.footer_song_like i:hover {
  color: white;
}

.footer_song_like i {
  cursor: pointer;
}

/* footer play  */

.footer_play {
  width: 600px;
  padding: 3px;
}

.footer_play_sym {
  background-color: black;
  width: 50%;
  height: 60%;
}

.footer_play_sym i {
  color: rgb(134, 134, 134);
  cursor: pointer;
}

#footer_song_play {
  color: white;
  font-size: 2em;
}

#footer_song_play:hover {
  color: white;
  font-size: 2.1em;
}

.footer_play_sym i:hover {
  color: white;
}

.footer_play_track {
  height: 25%;
  background-color: black;
  width: 100%;
  color: rgb(178, 178, 178);
  font-size: 0.8em;
}

.footer_tracker {
  height: 4px;
  width: 500px;
  background-image: linear-gradient(to right, white 50%, rgb(77, 77, 77) 50%);
  border-radius: 3px;
  cursor: pointer;
}

.footer_tracker:hover {
  background-image: linear-gradient(to right, #1ed760 50%, rgb(77, 77, 77) 50%);
}

.footer_tracker:hover > i {
  opacity: 1;
}

.footer_tracker i {
  color: white;
  opacity: 0;
}

/* footer vol  */

.footer_vol {
  width: 260px;
  color: rgb(158, 158, 158);
}

.footer_vol i {
  cursor: pointer;
}

.footer_vol i:hover {
  color: white;
}

.footer_vol_tracker {
  height: 4px;
  width: 100px;
  background-color: white;
  border-radius: 3px;
  justify-content: end;
  cursor: pointer;
}

.footer_vol_tracker:hover {
  background-color: #1ed760;
}

.footer_vol_tracker:hover > i {
  opacity: 1;
}

.footer_vol_tracker i {
  color: white;
  font-size: 0.7em;
  opacity: 0;
}

/* right  */

.right_cover {
  width: 70.5%;
  height: 15px;
  position: fixed;
  background-color: black;
  top: 0px;
  right: 10px;
  z-index: 2;
}

/* right nav  */
.right_nav {
  width: 70.5%;
  height: 62.5px;
  position: fixed;
  background-color: rgb(6, 54, 74);
  right: 10px;
  z-index: 3;
  border-radius: 7px 7px 0px 0px;
  padding: 0px 20px;
}

.right_nav_sym {
  height: 60%;
  width: 90px;
}

.right_nav_sym_i {
  width: 33px;
  padding: 8px;
  background-color: rgb(29, 14, 3);
  border-radius: 50%;
}

.right_nav_sym_i i {
  cursor: pointer;
}

.right_nav_prem {
  height: 50%;
  width: 340px;
}

.right_nav_prem > * {
  cursor: pointer;
}

.nav_but1,
.nav_but2 {
  border: none;
  border-radius: 35px;
  height: 100%;
  padding: 0px 15px;
  font-weight: bold;
}

.nav_but1:hover,
.nav_but2:hover {
  padding: 0px 17px;
}

.nav_but2 {
  background-color: rgb(39, 21, 6);
  color: white;
}

.nav_but1 {
  background-color: white;
  color: black;
}

.nav_img {
  height: 100%;
}

.nav_img img {
  height: 96%;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid black;
  background-color: rgb(40, 21, 5);
}

.nav_img img:hover {
  height: 100%;
}

/* right section  */
.right {
  top: 62.5px;
  width: 70.5%;
  right: 10px;
  position: absolute;
  padding: 15px 0px 70px 0px;
  display: flex;
  flex-direction: column;
}

.right h1 {
  margin-left: 20px;
}

.right h1::before {
  content: "";
  background: linear-gradient(
    to bottom,
    rgb(6, 54, 74),
    rgb(6, 54, 74),
    rgb(6, 54, 74),
    rgb(6, 54, 74),
    rgb(6, 54, 74),
    rgb(23, 19, 17),
    rgb(23, 19, 17)
  );
  z-index: -1;
  position: absolute;
  height: 33.5vh;
  width: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.8;
}

/* right gm  */
.right_gm {
  flex-wrap: wrap;
  height: 21vh;
  width: 100%;
  margin-top: 15px;
}

.right_gm_album {
  justify-content: flex-start;
  height: 65px;
  width: 31%;
  background-color: rgba(128, 128, 128, 0.27);
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bolder;
  cursor: pointer;
}

.right_gm_album:hover {
  background-color: rgba(128, 128, 128, 0.514);
}

.right_gm_album:hover > div button {
  opacity: 1;
}

.right_gm_album img {
  height: 100%;
  border-radius: 5px 0px 0px 5px;
}

.right_gm_play {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.right_gm_but {
  color: #1ed760;
  font-size: 3rem;
  background-color: black;
  border-radius: 50%;
  border: none;
  opacity: 0;
  cursor: pointer;
}

.right_gm_but:hover {
  font-size: 3.1rem;
}

/* right albums  */

.right_albums {
  background: rgb(18, 18, 18);
  padding-bottom: 100px;
  width: 100%;
}

.right_subalb {
  width: 100%;
  height: 47vh;
}

.right_subalb_name {
  width: 100%;
  height: 12%;
  padding: 0px 20px;
  color: white;
}

.right_subalb_name h2:hover,
.right_subalb_name p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.right_subalb_name p {
  color: rgb(179, 179, 179);
}

.right_subalb_alb {
  width: 100%;
  height: 268px;
  cursor: pointer;
}

.right_alb_main {
  width: 18%;
  height: 100%;
  background-color: rgb(24, 24, 24);
  border-radius: 5px;
  position: relative;
}

.sub_alb_but {
  color: #1ed760;
  font-size: 3rem;
  background-color: black;
  border-radius: 50%;
  border: none;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  left: 130px;
  top: 130px;
}

.sub_alb_but:hover {
  font-size: 3.05rem;
}

.right_alb_main:hover > button {
  opacity: 1;
}

.right_alb_main:hover {
  background-color: rgb(39, 39, 39);
}

.right_alb_main img {
  width: 86%;
  border-radius: 5px;
}

.right_alb_main .alb_name {
  width: 84%;
  height: 22%;
  align-items: start;
  color: rgb(173, 173, 173);
  font-size: 0.85em;
}

.right_alb_main p:hover {
  text-decoration: underline;
}

.alb_name_main {
  color: white;
  font-size: 1.2em;
}

.alb_name_main:hover {
  text-decoration: none;
}
